@font-face {
    font-family: "Ivy Mode";
        src:url('assets/fonts/IvyMode-Regular.eot') format('eot'),
            url('assets/fonts/IvyMode-Regular.ttf') format('ttf'),
            url('assets/fonts/IvyMode-Regular.woff') format('woff'),
            url('assets/fonts/IvyMode-Regular.woff2') format('woff2');
    font-weight: 400;
}