$primary-color: #007bff!default; // green
$secondary-color: #41B6F7 !default; // red
$quinary-color: #272727 !default; // Grey
// Custom-color
$dark-bg: #20222E !default;
$dark-gray: #323241 !default;
$light-bg: #EDF1F7 !default;
$text-color: #1D1D1D !default;
$title-color: #1D1D1D !default;
$hover :$primary-color;
$border-color: #E6E6E6 !default;
$text-alt: #282828 !default;
$text-off: #281107 !default;
$white: #fff !default;
$black: #000 !default;
$red: #C60C02 !default;

// Font Family
$font-family: 'Oxygen',
sans-serif;
$d-ico: 'deafult-icons' !default;
//button
$font-light:300;
$font-regular:400;
$font-medium:500;
$font-semibold:600;
$font-bold:700;
$font-weight-title: $font-semibold;
// Spacing
$gutter-1: 30px !default; // 30px
$spacing: 50px !default; // 50px.
// zindex
$header-z:999;
$filter-z:99;

$primary: $primary-color !default;
$secondary: $secondary-color !default;
$danger: $red !default;
$dark-bg: $dark-bg !default;



// theme colors
$theme-colors: ("primary": $primary,
    "secondary": $secondary,
    "danger": $danger,
    "dark": $dark-bg,
);


//breakpoints
$grid-breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1420px,);

//adjust the container sizes here
$container-max-widths: (
    sm: 540px, 
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1400px); 

// base font
$base-font-sizes: (
  null : 13px,
  768px : 14px,
  1200px : 15px,
  1350px: 16px
);

// Font size
$base-font: 16;
$fontSizes : (
	14,
	15,
	16,
	17,
	18,
	19,
	20,
	21,
	22
);

$ttlSizes: (
	18,
	20,
	22,
	24,
	30,
	40,
	50,
	60
);

$fontWeight: (
	200 : light,
	300 : thin,
	400 : normal,
	500 : medium,
	600 : semi-bold,
	700 : bold
);

// headings
$h-font: $font-family;
$h-color: $text-color;
$h-sizes: (
  1: (
    null: 40,
    992: 45,
    1200: 64,
    1600: 75,
  ),
  2: (
    null: 30,
    992: 34,
    1200: 40,
    1600: 55,
  ),
  3: (
    null: 28,
    992: 35,
    1200: 45,
  ),
  4: (
    null: 24,
    992: 30,
    1200: 40,
  ),
  5: (
    null: 18,
    768: 24,
    1200: 30,
  ),
  6: (
    null: 16,
    992: 18,
  ),
);
// common title

$ttl-sizes: (
  75: (
    null: 40,
    992: 45,
    1200: 64,
    1600: 75,
  ),
  55: (
    null: 30,
    992: 34,
    1200: 40,
    1600: 55,
  ),
  45: (
    null: 28,
    992: 35,
    1200: 45,
  ),
  50: (
    null: 24,
    992: 30,
    1200: 50,
  ),
  30: (
    null: 18,
    768: 24,
    1200: 30,
  ),
  18: (
    null: 16,
    992: 18,
  ),
);

// // paragraphs
$p-sizes: (
  16: (
    null: 16,
  ),
  18: (
    null: 14,
    768: 15,
    1200: 18,
  ),
  20: (
    null: 18,
    768: 19,
    1200: 20,
  ),
  22: (
    null: 16,
    768: 19,
    1200: 22,
  ),
  24: (
    null: 16,
    768: 24,
  ),
  40: (
    null: 20,
    1200: 40,
  ),
  50: (
    null: 30,
    1200: 50,
  ),
  65: (
    null: 40,
    1200: 65,
  ),
);


  